<body>

<section class="sigin-section mt-5 bg-info pt-5" >
    <div class="container w-50 pm-5">
        <h1 class="text-center mb-4">Login Form</h1>
        <form [formGroup]='signIn' >
            <div class="row w-75 m-auto">
               
                <div class="col-md-12">
                    <div class="form-group wow"  data-wow-delay="0.5s" >
                    <input type="text"
                        [class.is-valid]='signIn.get("email").errors==null&&signIn.get("email").touched'
                        formControlName='email' class="form-control" placeholder="email">
                    <p class="text-danger"
                        *ngIf='signIn.get("email").errors!=null&&signIn.get("email").touched'> Invalid
                      email</p>
                </div>
            </div>

                <div class="col-md-12 ">
                    <div class="form-group wow"  data-wow-delay="0.5s" >
                    <input type="text"
                        [class.is-valid]='signIn.get("password").errors==null&&signIn.get("password").touched'
                        formControlName='password' class="form-control" placeholder="password">
                    <p class="text-danger"
                        *ngIf='signIn.get("password").errors!=null&&signIn.get("password").touched'> Invalid
                        password</p>
                </div>
            </div>

            <button class='btn btn-info m-3 wow'  data-wow-delay="0.5s"  type="submit"> Submit</button>

            </div>
        </form>
    </div>
</section>
</body>