<section class="mt-5 pt-5">
    <div class="container ">
        <div class="row">
          
            <div   class="col-md-3    " *ngFor=" let movie of playing_movies | paginate : { id: 'listing_pagination', itemsPerPage: 1, currentPage: page,totalItems: totalRecords}" >
            <div class="item card m-2">

                <img [src]='imgsrc+movie.poster_path' class="img-fluid">
                <h6 class="text-center">{{movie.title}}</h6>                
            </div>
                <!-- <img [src]='imgsrc+movie.poster_path' class="img-fluid"> -->
              <!-- <h6 class="text-center">{{movie.title}}</h6> -->
   
            </div>
   
        </div>


        <div class="row text-center">


            <div class="col-md-8 mx-auto">
              <div>
                <pagination-controls
                  id="listing_pagination"
                  maxSize="7"
                  directionLinks="true"
                  (pageChange)="getPagesIn($event)"

                >
            </pagination-controls>
              </div>
            </div>
          </div>
    </div>
    </section>